---
- name: Ensure we are using pacman
  ansible.builtin.fail:
    msg: "This role only supports {{ ansible_os_family }} systems that use pacman as a package manager."
  when: ansible_pkg_mgr != "pacman"

- name: Install common packages via pacman
  block:
    - name: Update pacman cache
      community.general.pacman:
        update_cache: true
      changed_when: false # The pacman module currently does not support cache_valid_time.
      become: true

    - name: Install package dependencies first (if specified)
      community.general.pacman:
        name: "{{ dependency }}"
        state: present
      loop: "{{ common_pkgs_pacman.install | selectattr('depends', 'defined') | map(attribute='depends') | flatten }}"
      loop_control:
        loop_var: dependency
      become: true

    - name: Ensure common pacman packages are installed
      community.general.pacman:
        name: "{{ package.name if package is mapping else package }}"
        state: present
      loop: "{{ common_pkgs_pacman.install }}"
      loop_control:
        loop_var: package
      become: true
