---
- name: Ensure we are using apt
  ansible.builtin.fail:
    msg: "This role only supports {{ ansible_os_family }} systems that use apt as a package manager."
  when: ansible_pkg_mgr != "apt"

- name: Install common packages via apt
  block:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 3600
      become: true

    - name: Install package dependencies first (if specified)
      ansible.builtin.apt:
        name: "{{ dependency }}"
        state: present
      loop: "{{ common_pkgs_apt.install | selectattr('depends', 'defined') | map(attribute='depends') | flatten }}"
      loop_control:
        loop_var: dependency
      become: true

    - name: Ensure common apt packages are installed
      ansible.builtin.apt:
        name: "{{ package.name if package is mapping else package }}"
        state: present
      loop: "{{ common_pkgs_apt.install }}"
      loop_control:
        loop_var: package
      become: true
